@import "tailwindcss";

@theme {
  --color-bg: #fff;
  --color-bg-dark: #000;
  --color-primary: #000;
  --color-primary-dark: #fff;
  --color-secondary: #6a7282;
  --color-hover: #e5e7eb;
  --color-hover-dark: #364153;
  --color-xhover: #d1d5dc;
  --color-xhover-dark: #45556c;
}

* {
  scrollbar-width: none;
}

*:hover {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}

@custom-variant dark (&:where(.dark, .dark *));

.dark *:hover {
  scrollbar-color: #4b5563 transparent;
}

.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #9ca3af;
  pointer-events: none;
  height: 0;
}
